@charset "UTF-8";
.img {
	background-image: url("/js/main.png");
	background-size:cover;
	width:100%;
	margin: auto 0;
	height:1000px;
}
.main-text{
	text-align: center;
	font-size: 100px;
	padding-top: 300px;
}